/* Estilos del index.html */

/* navbar */

.navbar {
    background-color: var(--naranja);
  }
  
  /* hero */
  
  .hero {
    height: 92.1vh;
    color: #d5ffd0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/guerreros-z.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
  }
  
  .hero__title {
    font-size: 2rem;
  }
  
  .hero__description {
    font-size: 1.5rem;
  }
  
  .hero__button {
      background-color: var(--azul)!important;
      font-size: 1.5rem !important;
      color: #fff !important;
  
  }
  
  .hero__button:hover {
      color: #000 !important;
  }
  
  
  @media(min-width: 1024px) {
      .hero__title {
          font-size: 5rem;
        }
        
        .hero__description {
          font-size: 2rem;
        }
        
        .hero__button {
            font-size: 2rem !important;
        }
  
  }