/* Estilos globales */

/* variables */

:root {
  --naranja: #f58220;
  --azul: #0072ce;
  --gris: #e0e0e0;
  --amarillo: #f8e71c;
}

/* estilos generales */

p,
a {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

/* fuentes */

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.merriweather {
  font-family: "Merriweather", serif;
}

