/* Estilos de seleccion-personaje.html */


main{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/goku-house.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
}

.personajes__img{
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.personajes__btn{
    background-color: var(--naranja);
    font-size: .7rem;
    padding: 5px 10px;
}

.personajes__btn:hover{
    background-color: var(--naranja);
}

.personajes__btn:disabled{
    background-color: #743d0e;
    border-color: #743d0e;
    color: #fff;
}

.grillaPersonajes{
    height: 9rem;
    width: 100%;
    overflow-y: scroll;
    /* hide scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.grillaPersonajes::-webkit-scrollbar {
    display: none;
}

.grillaPersonajes__thumbnail{
    width: 33%;
    height: 100%;
    object-fit: cover;
    border: 3px solid var(--azul);
}

.grillaPersonajes__thumbnail:hover{
    border: 3px solid var(--naranja);
}

.grillaPersonajes__thumbnail--selected{
    border: 3px solid var(--naranja);
}

@media(min-width: 375px){
    .personajes__img{
        width: 100px;
        height: 100px;
    }  
}
@media(min-width: 768px){
    .personajes__title{
        font-size: 3rem;
    }

    .personajes__img{
        width: 225px;
        height: 225px;
    }

    .personajes__btn{
        font-size: 1rem;
        padding: 10px 20px;
    }

    .grillaPersonajes{
        height: 10rem;
    }

    .grillaPersonajes__thumbnail{
        width: 20%;
    }
    
}
@media (min-width: 1024px){
    .personajes__title{
        font-size: 4rem;
    }

    .personajes__text{
        font-size: 1.5rem;
    }

    .personajes__btn{
        font-size: 1.2rem;
        padding: 10px 20px;
    }
    
    .personajes__nombre{
        font-size: 3rem;
    }

    .personajes__img{
        width: 300px;
        height: 300px;
    }

    .grillaPersonajes{
        width: 80%;
        height: 15rem;
    }
}

@media (min-width: 1440px){
    .personajes__img{
        width: 350px;
        height: 350px;
    }
}